@use '../../../sass/variables.scss' as *;

.container {
  display: flex;
  flex-flow: column;
  padding-right: 20px;
  margin-left: 30px;
  min-height: 60%;
  overflow-y: auto;
  scrollbar-color: $accent-lite $main;
  scrollbar-width: thin;
}

.container::-webkit-scrollbar {
  cursor: pointer;
  width: 10px;
}

.container::-webkit-scrollbar-track-piece {
  background-color: $main;
}

.container::-webkit-scrollbar-track-piece:hover {
  background-color: $main-lite;
}

.container::-webkit-scrollbar-thumb {
  background-color: $accent-lite;
  border-radius: 50px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.info_group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  font-family: $body-text;
  letter-spacing: 2px;
}

.info_group span {
  font-size: clamp(1.25rem, 1.5vw, 2rem);
  margin-right: 10px;
  color: white;
}

.dot {
  color: $accent;
  font-size: 2rem;
}
.vote {
  padding: 5px 10px 5px 10px;
  background-color: $accent;
  font-weight: 700;
  border-radius: 5px;
}

.cast {
  display: flex;
  flex-flow: row wrap;
  color: $accent-lite;
  margin-top: 10px;
}

.actor {
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 0 0;
  font-size: clamp(1rem, 1vw, 1.5rem);
  border: 2px solid $accent;
  border-radius: 5px;
}

.overview {
  margin-top: 20px;
  color: grey;
  font-size: clamp(1.2rem, 1.2vw, 1.8rem);
  line-height: clamp(1.5rem, 1.5vw, 2.2rem);
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    min-height: unset;
    overflow: visible;
  }
}
