@use '../../../sass/variables.scss' as *;

.container {
  display: flex;
  flex-flow: column;
  /* grid-area: 2 / 2 / 3 / 3; */
  margin-left: 30px;
  min-height: 60%;
  /* padding-right: 30px; */
}

.info_group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  /* margin-top: 20px; */
  width: 100%;
  font-family: $body-text;
  letter-spacing: 2px;
}

.info_group span {
  margin-top: 20px;
  font-size: clamp(1.25rem, 1.5vw, 2rem);
  margin-right: 10px;
  color: white;
}

.info_group .dot {
  color: $accent;
  font-size: 2rem;
}

.info_group .vote {
  padding: 5px 10px 5px 10px;
  background-color: $accent;
  font-weight: 700;
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    min-height: 0;
  }
}
