$background: rgb(18, 18, 18);
$main: rgb(37, 37, 37);
$main-lite: rgb(110, 110, 110);
$accent: rgb(45, 100, 114);
$accent-lite: rgb(102, 192, 204);
$code: red;
$tab-background: rgba(255, 255, 255, 0.1);

$body-text: mr-eaves-xl-modern, sans-serif;
$title-text: rift, sans-serif;
