@use '../../../sass/variables.scss' as *;

.genres {
  margin-top: 20px;
  width: 100%;
}

.genres div {
  position: relative;
  padding: 10px 0 10px 20px;
  margin: 10px 0 10px 0;
  color: white;
  font-size: clamp(0.75rem, 1vw, 1rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: $tab-background;
}

.genres div::before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 5px;
  height: 100%;
}

.aa::before {
  background-image: linear-gradient(rgb(255, 85, 85), rgb(158, 84, 255));
}

.action::before {
  background-color: rgb(255, 85, 85);
}

.adventure::before {
  background-color: rgb(158, 84, 255);
}

.animation::before {
  background-color: rgb(255, 209, 84);
}

.comedy::before {
  background-color: rgb(255, 223, 82);
}

.crime::before {
  background-color: rgb(255, 124, 179);
}

.drama::before {
  background-color: rgb(255, 136, 57);
}

.fantasy::before {
  background-color: rgb(96, 255, 81);
}

.mystery::before {
  background-color: rgb(163, 0, 0);
}

.science_fiction::before {
  background-color: rgb(69, 196, 255);
}

.sf::before {
  background-image: linear-gradient(rgb(69, 196, 255), rgb(96, 255, 81));
}

.thriller::before {
  background-color: rgb(229, 124, 255);
}

.wp::before {
  background-color: rgb(109, 109, 109);
}

.horror::before {
  background-color: rgb(160, 32, 32);
}

.family::before {
  background-color: rgb(177, 129, 255);
}

.none::before {
  background-color: white;
}
