@use '../../sass/variables.scss' as *;

.movie_title {
  position: absolute;
  margin: 0;
  padding: 2px 7px 3px 15px;
  left: 0;
  color: rgba(255, 255, 255, 0.3);
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: top left;
  transition: color ease-in-out 0.3s;
}

.movie_title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 35px;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.69);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-30deg);
  z-index: -1;
  transition: color ease-in-out 0.3s;
}

.movie_title h2 {
  margin: 0;
  font-size: 2rem;
}

:global(.media):hover .movie_title,
:global(.media):global(.active) .movie_title {
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 5px $background;
  transition: ease-in-out 0.3s;
}

:global(.media):global(.active) .movie_title {
  color: rgba(110, 110, 110, 0.3);
  text-shadow: none;
  transition: ease-in-out 0.3s;
}

:global(.media):hover .movie_title::before {
  background-color: rgba(37, 37, 37, 0.69);
  box-shadow: 10px 0 0 $accent-lite;
  transition: ease-in-out 0.3s;
}

:global(.media):global(.active) .movie_title::before {
  box-shadow: 10px 0 0 $accent-lite, 0 0 20px $background;
  padding-right: 1000px;
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 800px) {
  :global(.media).active .movie_title {
    opacity: 0;
  }
}
