@use '../../../sass/variables.scss' as *;

.container {
  grid-area: 2 / 1 / 3 / 2;
  overflow-y: scroll;
}

.poster {
  width: 100%;
  overflow: hidden;
  background-color: $accent-lite;
  box-shadow: 0 0 15px $background;
}

.poster img {
  object-fit: contain;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .container {
    margin-bottom: 20px;
  }
}
