@use './sass/variables.scss' as *;
@import url('https://use.typekit.net/ncb2bkr.css');

* {
  box-sizing: border-box;
  font-family: $body-text;
  font-weight: 400;
  font-weight: normal;
  user-select: none;
  letter-spacing: 0.5px;
}

body {
  position: relative;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: $background;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2 {
  font-family: $title-text;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: $code;
}

.media {
  position: relative;
  align-self: center;
  min-width: 250px;
  height: 95%;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  // Undo native button html styling
  background-color: $background;
  border: 2px $accent solid;
  padding: 0;
  text-align: left;
  // To rotate the scrollbar
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg); /* Mozilla */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
  -ms-transform: rotateX(180deg); /* IE 9+ */
  -o-transform: rotateX(180deg); /* Opera */

  &:hover {
    box-shadow: 0 0 5px 1px $accent-lite, 0 0 15px $accent;
  }
  &.active {
    min-width: 60%;
    transition: ease-in-out 0.3s;
  }
}
