@use '../../sass/variables.scss' as *;

:global(.media) {
  position: relative;
  align-self: center;
  min-width: 200px;
  width: 200px;
  height: 95%;
  border-radius: 10px;
  margin-left: 30px;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  // Undo native button html styling
  background-color: $background;
  border: none;
  padding: 0;
  text-align: left;
  // To rotate the scrollbar
  transform: rotateX(180deg);
  -moz-transform: rotateX(180deg); /* Mozilla */
  -webkit-transform: rotateX(180deg); /* Safari and Chrome */
  -ms-transform: rotateX(180deg); /* IE 9+ */
  -o-transform: rotateX(180deg); /* Opera */
}

:global(.media):hover,
:global(.media):focus,
:global(.media):global(.active) {
  box-shadow: 0 0 5px 1px $accent-lite, 0 0 15px $accent;
}

:global(.media):global(.active) {
  min-width: 60%;
  transition: ease-in-out 0.3s;
}

.backdrop_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.backdrop {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.3s;
}

:global(.media):global(.active) .backdrop {
  filter: blur(20px);
  opacity: 0.1;
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 1200px) {
  :global(.media):global(.active) {
    min-width: 90vw;
    transition: ease-in-out 0.3s;
  }
}
